* {
  margin: 0;
  padding: 0;
}



body {
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-thumb {
	background-color: #100e0e9c;
	border-radius: 10px;
	transition: all 0.3s ease-out;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #979797;
}


